/*
 Edit file data page CSS.
*/


.files-actions-row {
    text-align: center;
}
.files-actions-row > span + span::before {
    content: ' \00a0 | \00a0 ';
}


.files-media-views-row {
    max-height: 400px;
    text-align: center;
}
.files-media-views-row a {
    display: block;
}
.files-media-views-row * {
    max-height: 400px;
}


.rdcmsa-files-audio-media-views {
    width: 100%;
}